<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--CONEXION-->
	<connectionStrings>
		<add name="conectar" connectionString="Server=DESKTOP-0D96TR9\SQLEXPRESS;Integrated Security=yes; Database=MANTENIMIENTO_PRODUCTOS"/>
	</connectionStrings>    
</configuration>